* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease;
}
body {
  width: 100vw;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
.main {
  width: 100vw;
}
.nav-bar {
  height: 4.5rem;
  width: 100vw;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  top: 0px;
  box-sizing: border-box;
  z-index: 99;
}
.left {
  width: 50%;
}
.left ul {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.left ul li {
  padding: 10px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  position: relative;
}
.left ul li a {
  color: white;
  text-decoration: none;
}
.left ul li:hover {
  background-color: #323131cc;
}
.left ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 3px;
  width: 0px;
  transition: 0.5s ease;
}
.left ul li:hover::before {
  width: 100%;
}
.left ul li:active {
  background-color: #323131cc;
}
.left ul li img {
  height: 35px;
  width: 80px;
}
.right {
  width: 30%;
  margin-right: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.right input {
  padding: 10px;
  box-sizing: border-box;
  width: 80%;
  height: 40px;
  outline: none;
  border-radius: 10px 0 0px 10px;
}
.right button {
  border-radius: 0px 10px 10px 0px;
  height: 40px;
  border: none;
  outline: none;
  width: 100px;
  cursor: pointer;
  background-color: white;
}
.Views {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  align-items: center;
  position: sticky;
  top: 70px;
  left: 0px;
  z-index: 5;
}
.views-btn {
  margin-right: 100px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.views-btn i {
  font-size: 30px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.big-movie {
  display: flex;
  justify-content: center;
  width: 100%;
}
.leftbig {
  width: 70%;
  height: 80vh;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightbig {
  width: 30%;
  height: 80vh;
  border: 2px solid red;
}
.img-container{
    display: flex;
    justify-content: center;
    position: relative;
}
.img-container img{
    position: absolute;
}